body {
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.selector {
  display: flex;
  flex-direction: column;
  border: black 2px solid;
  align-items: center;
}

.selector-box {
  display: flex;
  border: black 2px solid;
  justify-content: center;
}

.selectors {
  border: black 1px solid;
  font-size: 3rem;
}

.main-box {
  border: black 2px solid;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  justify-content: center;
}

.boxes {
  border: black 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bolder;
}
