body {
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #e9eed9;
  color: #4a4947;
}

.main-container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.container {
  background-color: #d8d2c2;
  width: 600px;
  padding: 20px 0 30px 0;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.selector {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selector-head {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.selector-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  padding: 15px 0 15px 0;
}

.buttonSelector {
  font-size: 3rem;
  height: 75px;
  width: 75px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-style: none;
  border-radius: 3px;
}

.selectors {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 200px;
  font-size: 1.5rem;
  font-weight: bolder;
}

.main-box {
  display: grid;
  padding-top: 20px;
  grid-template-columns: repeat(3, 130px);
  grid-template-rows: repeat(3, 130px);
  justify-content: center;
  gap: 10px;
}

.boxes {
  border: black 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-weight: bolder;
  border-radius: 5px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.boxes:hover {
  background-color: #e9eed9;
}

.boxes:focus {
  background-color: #d8d2c2;
}

button {
  height: 100%;
  width: 100%;
  background-color: white;
}

.resetButton {
  background-color: #d8d2c2;
  --color: #4a4947;
  font-family: inherit;
  display: inline-block;
  width: 6em;
  height: 2.6em;
  line-height: 2.5em;
  overflow: hidden;
  cursor: pointer;
  margin: 20px;
  font-size: 17px;
  z-index: 1;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 6px;
  position: relative;
  height: 50px;
  width: 150px;
  font-weight: bolder;
}

.resetButton:before {
  position: absolute;
  content: "";
  background-color: #a9907e;
  width: 250px;
  height: 150px;
  z-index: -1;
  border-radius: 50%;
}

.resetButton:hover {
  background-color: #e9eed9;
  color: white;
}

.resetButton:before {
  top: 100%;
  left: 100%;
  transition: 0.3s all;
}

.resetButton:hover::before {
  top: -30px;
  left: -30px;
}
